.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 50px auto;
   color: #000;
   background-color: #f9a602;
}
.header:hover {
background-color: #000;
color: #f9a602
}
.header span {
	display: block;
}
.section {
	padding: 30px;
}
.form {
	border: 5px solid #f9a602;
	padding: 45px 20px;
}
.form-header, .section-header {
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn {
	
	margin-top: 25px;

}
.form-btn:hover{
background-color: #000;
color: #f9a602;
}
.form input {
	margin-bottom: 12px;
}
.feature {
	margin-top: 50px;
}
.feature p {
	margin-top: 20px;
}
.btn325 {
	margin-top: 60px;
}
.video {
	margin-bottom: 30px;
}